<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="container">
        <h1>You walked into a room with an old man in a comput chair facing away from you. He turns around..."I've been expecting you". His shiny bald head gleams in single lamp hanging above in the dank cold room. His raspy voice lets out a simple question: "What is 2+2?"</h1>

        <div>
            <br>
            <form action="submitAnswer" method="post">
                <input type="number" placeholder="answer here..." name="answer">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>