@model Sundae

<div id="container">
    <h1>Build a sundae</h1>

    <form asp-controller="Home" asp-action="SubmitEdit" method="post">
        <input type="hidden" asp-for="SundaeId">

        <div id="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span class="alert-danger" asp-validation-for="Name"></span>
        </div>

        <div id="form-group">
            <label asp-for="Flavor"></label>
            <input asp-for="Flavor" class="form-control">
            <span class="alert-danger" asp-validation-for="Flavor"></span>
        </div>

        <div id="form-group">
            <label asp-for="Scoops"></label>
            <input asp-for="Scoops" class="form-control">
            <span class="alert-danger" asp-validation-for="Scoops"></span>
        </div>

        <div id="form-group">
            <label asp-for="Sauce"></label>
            <input asp-for="Sauce" class="form-control">
            <span class="alert-danger" asp-validation-for="Sauce"></span>
        </div>

        <div id="form-group">
            <label asp-for="Topping"></label>
            <input asp-for="Topping" class="form-control">
            <span class="alert-danger" asp-validation-for="Topping"></span>
        </div>

        <input type="submit" class="btn btn-lg btn-success mt-5">
    </form>
</div>